doctype html
html(lang='ru')
    head
        meta(charset="utf-8")
        title Test
        meta(content="" name="author")
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")

        //- favicon block start
        //- favicon block end
        //link(rel='stylesheet' href='/assets/css/app.css')
        //script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
        //script(src='js/common.js')
    body
        section.first-section
            div.container
                main#pug-id
                    h1 My Page
                    p Проодолжить разработку и установить npm install --save-dev gulp-uglify
                    p Сделать задачу минификации js
                    p https://getinstance.info/articles/tools/introduction-to-gulp/
                    p https://www.npmjs.com/package/gulp-uglify
                    p Подключить common.js
                    p
                        a(href='#' title='test') Тестовая ссылка
                    div.box
                    div.message
                    div.success
                    div.error
                    div.warning
                aside(role="complementary")
                    div.message
                    div.success
                    div.error
                    div.warning
                aricle(role="main")
                    div.message
                    div.success
                    div.error
                    div.warning
        footer
            div.container
                p Copyright